{% extends "base.html" %}
{% block titulo%}Identificación{% endblock%}
{% block contenido%}
<p>Hoy es {{ fecha }}</p>
  <form method="POST" role="form" class="form-horizontal">
  <fieldset>
    <legend>Censo Nacional App Engine</legend>
      <div class="form-group">
      <label for="doc_type" class="col-xs-2">Documento</label>
      <div class="col-xs-4">
        <select id="doc_type" name="doc_type" class="form-control col-xs-3">
          <option>-- Tipo --</option>
          {% for key, value in tipo_documentos|dictsort(false, 'value') %}
            <option value="{{ key }}">{{ value }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-xs-4">
        <input type="text" name="doc_number" placeholder="Número de documento"  class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="col-xs-2">Correo electrónico</label>
      <div class="col-xs-8">
        <input type="email" id="email" name="email"
               placeholder="Correo electrónico" class="form-control">
      </div>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="true_info_check">
        Confirmo que los datos aquí registrados son veraces correctos y actualizados.
      </label>
    </div>
    <div class="form-group">
      <div class="col-xs-12"><hr></div>
      <div class="col-xs-1 col-xs-offset-9">
        <input type="submit" value="Enviar" class="btn btn-primary pull-right">
      </div>
    </div>
  </fieldset>
</form>
{% endblock%}
